nav.white
  div.nav-wrapper
    a.brand-logo.center(href='/').black-text.serious.
      Dead Presidents
    ul#nav-mobile.right.hide-hide-on-med-and-down.valign-wrapper
        li
          a(href='/profile').black-text Play
include ../partials/flash.pug
