nav.white
  div.nav-wrapper
    a.brand-logo.center(href='/')
      img(src='/assets/images/logos/logo.png' height='64px')
    ul#nav-mobile.right.hide-hide-on-med-and-down.valign-wrapper
        li
          a(href='/profile').black-text Play
include ../partials/flash.pug
